<div class="flex items-center gap-4 mb-8">
    <div class="h-10 w-2 bg-primary"></div>
    
    <h2 class="text-3xl font-bold font-display text-burgundy dark:text-white">
        عنوان القسم هنا
    </h2>
</div>


<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet"/>


"Montserrat", "Cairo"